header.header
  nav.nav.nav--notes
    a.nav__el(href='#') Digital Journal App | Chingu Tier 3
  nav.nav.nav--users
    //- a.nav__el(href='#') My Notes
    //-   img.nav__user-img(src='img/user.jpg' alt='User photo')
    //-   span Carsten
    button.nav__el Log In
    button.nav__el.nav__el--cta Sign Up