doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    title Digital Journal App | Chingu Tier 3
  body
    // Header
    include _header

    // CONTENT
    include _form

    // FOOTER
    include _footer



