doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='css/style.css')
    link(rel='shortcut icon' type='image/png' href='img/favicon.png')
    title Digital Journal App | Chingu Tier 3
  body
    // Header
    header.header
      nav.nav.nav--notes
        a.nav__el(href='#') Digital Journal App | Chingu Tier 3
      nav.nav.nav--users
        //- a.nav__el(href='#') My Notes
        //-   img.nav__user-img(src='img/user.jpg' alt='User photo')
        //-   span Carsten
        button.nav__el Log In
        button.nav__el.nav__el--cta Sign Up

    // CONTENT
    section.form

    // FOOTER
    footer.footer
      .footer__logo
        //- img(src='img/logo.png' alt='Digital Journal App')
      .ul.footer__nav
        li: a(href='#') About Us
      p.footer__copyright &copy; by Carsten Pleiser



