doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/bootstrap/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    title Chingu Digital Journal App | Chingu Tier 3

  body
    .container
      include _nav

      block content
        h1 Digital Journal
        p This is a small demo application using Authentication & Authorization. It's part of the #[strong Chingu Voyage 11 Solo Project]. For any suggestions on how to make the code better, please contact me #[a(href="https://www.carstenpleiser.com") here].

    script(src='/js/bundle.js')





